<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>
    <body>
        <h1 class="pageTitle"><%= title %></h1>
        <ul>
            <% if (locals.characters){%>
                <% characters.forEach(function(character){ %>
                <div class="characterCard">
                    <div class="characterTitle"><%=character.charactername%></div> 
                    <div class="characterInfo">
                        <h3>STRENGTH: <%=character.str%></h3>
                        <h3>INVENTORY: </h3>
                    </div>
                    <div class="elementNav">
                        <a href="/<%= character.characterid%>/update">EDIT CHARACTER</a>
                        <br/><br/>
                        <a href="/<%= character.characterid%>/inventory">VIEW INVENTORY</a>        
                    </div>
                    <div class="characterStatus">
                        <h3>PENALTIES: </h3>
                    </div>    
                </div>
                
                <%}); %>
            <% } %>        
        </ul>
        <a href="/new">NEW CHARACTER</a>
        <a href="/itemsets">ITEM SETS</a>
    </body>
</html>