<!DOCTYPE html>
<html>
  <head>
    <title>Update Item</title>
  </head>
<body>
  <h1>Update item</h1>
  
  <form action="/<%=set.setid%>/<%=item.itemid%>/itemedit" method="POST">
    <label for="itemName">Item Name: </label>
    <input type="text" name="itemName" id="itemName" value="<%=item.itemname%>" required minlength="3" maxlength="20"/>
    <label for="itemType"> Item Type: </label>
    <input list="itemTypes" name="itemType" id="itemType" value="<%=item.itemtype%>" required minlength="3"/>
    <datalist id="itemTypes">
        <% if (locals.itemtypes){%>
            <%itemtypes.forEach(function(type){ %>
            <option value="<%=type.itemtype%>"></option>
            <% }) %>;
        <% } %> 
    </datalist>
    <label for="itemDescription">Description</label>
    <input type="text" name="itemDescription" id="itemDescription" value="<%=item.itemdescription%>" maxlength="100">
    <label for="itemWeight" required>Item Weight</label>
    <input type="number" name="itemWeight" id="itemWeight" value="<%=item.weight%>" min="0">
    <button type="submit">Submit</button>
  </form>
  <a href="/<%=set.setid%>/itemlist">Back to Set list </a>
</body>
</html>